@import "_mixin.scss";

@font-face {
    font-family: 'Yekan';
    src: url('./fonts/B_Yekan/Yekan.ttf')format('truetype');
}


@include respond-to(4000px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    };
    
    body{
        direction: rtl;
        font-family: 'Yekan';
        color: #FFFFFF;
    }
    
    .span-div{
        width: 100%;
    }


    main{
        width: 100%;
        @include display(flex-start,center,row);

        padding: 48px 344px 48px 60px;


        .aside-div{
            width: 272px;
            position: fixed;
            height: 740px;
            transform: translate(0,-50%);
            top: 50%;
            right: 12px;
             padding : 1.5rem 0rem;
            @include display(space-between,flex-start,column);
            color:  #FFFFFF;  
            box-shadow: 0px 4px 58.5px 0px #0000000F;
            border-radius: 16px;
            .start-aside{
                padding : 0rem 2.2rem;
                width: 100%;
                @include display(flex-start,center,row);
                gap: 1rem;

                img{
                    width: 50px;
                    height: 50px;
                }

                .start-aside-def{
                    @include display(center,flex-start,column);
                    gap: .1rem;

                    h4{
                        font-size: 18px;
                        font-weight: 800;
                        text-align: right;
                        color: #242424;
                    }

                    p{
                        font-size: 14px;
                        font-weight: 600px;
                        color: #7D7D7F;                     
                    }
                }
            }


            .mid-aside{
                padding : 0rem 1.2rem;
                width: 100%;
                @include display(space-between,flex-start,column);
                gap: .7rem;

                a{
                    width: 100%;
                    @include display(flex-start,center,row);
                    padding: .75rem 1.2rem .75rem 0;
                    border-radius: 8px;
                    gap: 1rem;
                    text-decoration: none;
                    p{
                        color: #525252;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    &:hover{
                        background-color: #F5FAFF;
                    }
                }
            }



            .end-aside{
                width: 100%;
                @include display(space-between,flex-start,column);
                padding: 0rem 2.4rem;
                gap: 1.5rem;

                .them{
                    width: 100%;
                    padding: .3rem .3rem;
                    background-color: #F7F7F7;
                    border-radius: 8px;
                    @include display(center,center,row);

                    p{
                        font-size: 14px;
                        font-weight: 600;
                        color: #808080;
                    }

                    input[type=radio]{
                        display: none;
                    }

                    
                    input[type=radio]:checked + label{
                        background-color: #FFFFFF;

                        p{
                            color: #525252;
                        }
                    }

                    label{
                        width: 100%;
                        @include display(flex-start,center,row);
                        padding:.3rem .6rem ;
                        gap: .6rem;
                        border-radius: 6px;


                    }
                }


                .line{
                    width: 100%;
                    height: 1px;
                    background-color: #E9E9E9;
                }

                .exit{
                    width: 100%;
                    @include display(flex-start,center,row);
                    gap: 1rem;

                    p{
                        font-size: 14px;
                        font-weight: 600;
                        color: #525252;
                    }
                }

            }
        }

        .To-do{
            width: 100%;
            @include display(space-between,center,column);
            gap: 1rem;

            .To-do-title{
                width: 100%;
                @include display(flex-start,flex-start,column);
                gap: .1rem;

                h2{
                    font-size: 20px;
                    font-weight: 800;
                    color: #242424;
                }

                p{
                    font-size: 14px;
                    font-weight: 800;
                    color: #696969;
                }
            }


            .To-do-add-button{
                width: 100%;
                @include display(flex-start,center,row);
                gap: .8rem;
                padding: .8rem 1.5rem;
                border: 1px dashed  #CCCCCC;
                border-radius: 10px;

                p{
                    font-size: 16px;
                    font-weight: 700;
                    color: #007BFF;
                }

                &:hover{
                    cursor: pointer;
                }
            }


            .To-do-add-div{
                width: 100%;
                display: none;
                gap: 1rem;
                border: 1px solid #E9E9E9;
                background-color: #FFFFFF;
                border-radius: 12px;
                box-shadow: 0px 4px 58.5px 0px #0000000F;

                .up{
                    width: 100%;
                    padding: 1rem 1.5rem;
                    @include display(space-between,flex-start,column);
                    gap: 1rem;

                    input{
                        border: none;
                        outline-style: none;
                        width: 100%;
                        &:nth-of-type(1){

                            font-size: 18px;
                            font-weight: 700;
                            color: #323233;
                            &::placeholder{
                                color: #7D7D7F;   
                            }
                        }

                        &:nth-of-type(2){
                            font-size: 16px;
                            font-weight: 600;
                            color: #646466;
                            &::placeholder{
                                color: #AFAEB2; 
                            }
                        }


                    }

                    & > div{
                        &:nth-of-type(1){
                        @include display(center,center,row);
                        padding: .3rem .4rem;
                        box-shadow: 0px 4px 4px 0px #00000040;
                        border: 1px solid #E9E9E9;
                        border-radius: 4px;
                        gap: .5rem;
                        p{
                            font-size: 15px;
                        font-weight: 600;
                        color: #AFAEB2;
                        }

                        &:hover{
                            cursor: pointer;
                        }
                    }
                    }

                    .priority{
                        // @include display(space-between,center,row);
                        display: none;
                        gap: 1rem;
                        box-shadow: 0px 12px 24px -6px #1414190F;
                        border-radius: 8px;
                        border: 1px solid #EBEDEF;
                        padding: .6rem .8rem;
                        background-color: #FFFFFF;

                        div{
                            &:nth-child(odd){
                                padding: .2rem .4rem;
                                border-radius: 4px;

                                &:hover{
                                    cursor: pointer;
                                }
                            }


                            &:nth-child(even){
                                align-self: stretch;
                                width: .1px;
                                background-color: #EBEDEF;
                            }
                        }

                        .priority-low{
                            background-color: #C3FFF1;
                            color: #11A483;
                        }

                        .priority-medium{
                            background-color: #FFEFD6;
                            color: #FFAF37;
                        }

                        .priority-high{
                            background-color: #FFE2DB;
                            color: #FF5F37;
                        }
                    }

                }

                .mid{
                    width: 100%;
                    height: 1px;
                    background-color: #E9E9E9;
                }

                .down{
                    padding: 0rem 1.5rem 1rem 1.5rem;
                    width: 100%;
                    @include display(flex-end,center,row);

                    div{
                        padding: .4rem .6rem;
                        background-color: #007BFF;
                        opacity: 60%;
                        border-radius: 6px;
                        font-size: 14px;
                        font-weight: 600;
                        color: #FFFFFF;

                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }

            .To-do-pic{
                width: 100%;
                @include display(space-between,center,column);
                gap: .3rem;
                margin-top: 1rem;
                img{
                    margin-bottom: 1rem;
                }
                
                h4{
                    font-size: 16px;
                    font-weight: 800;
                    color: #7D7D7F;
                }

                p{
                    font-size: 14px;
                    font-weight: 600;
                    color: #AFAEB2;
                }
            }

        }


        .ToDO-List-item-span{
            width: 100%;
            @include display(space-between,center,column);
            gap: 1.5rem;
        }

    }

    .To-do-add-div-show{
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: column !important;
    }

    .To-do-pic-show{
        display: none !important;
    }

    .To-do-priority-show{
        display: flex !important;
        justify-content: space-between !important;
        align-items: flex-start !important;
        flex-direction: row !important;
    }

    .new_priority_tag{
        @include display(center,center,row);
        gap: .3rem;
        padding: .2rem .4rem;
        border-radius: 4px;

        img{
            &:hover{
                cursor: pointer;
            }
        }
    }

    .To-do-tag-show{
        display: none !important;
    }

    .transform90{
        img{
            transform: rotate(90deg);
        }
    }

    .priority_in_list{
        @include display(center,center,row);
        gap: .3rem;
        padding: .2rem .4rem;
        border-radius: 4px;
    }


    .todoList_span_div{
        width: 100%;
        padding: 1.5rem 0rem;
        @include display(space-between,center,row);

        .todoList_span_div_right{

            @include display(flex-start,stretch,row);
            gap: 1.5rem;

            .todoList_span_div_right_def{
                @include display(space-between,flex-start,column);
                gap: 1rem;

                .todoList_span_div_right_def_top{
                    @include display(flex-start,center,row);
                    gap: .8rem;
                }
            }

        }

        .todoList_span_div_left{

        }

    }

    

}
